@media all and (min-width: 260px) {
    .graphics {
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 90vw;
    }
}

@media all and (min-width: 1000px) {
    .graphics {
        padding: 0 5% 0 5%;
    }
}