@media all and (min-width: 260px) {
    .about {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-around;
        align-items: center;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 25vh;
    }

    section .avatar {
        margin-left: 7%;
        height: 60vh;
    }

    section .description {
        font-size: 16px;
        width: 90vw;
        height: 40vh;
    }
}

@media all and (min-width: 500px) and (orientation: landscape) {
    section .description {
        font-size: 16px;
    }
}

@media all and (min-width: 700px) {
    section .description {
        font-size: 22px;
    }
}
@media all and (min-width: 1200px) and (orientation: landscape){
    .about-me{
        max-width: 1280px;
    }
    section .description{
        max-width: 70%;
        font-size: 32px;
    }
}