@media all and (min-width: 260px) {
    .about {
        display: flex;
        flex-direction: column;
        height: 200vh;
        justify-content: space-around;
        align-items: center;
    }
    .gusano-logo{
        height: 100vh;
    }
    .about-logo {
        margin-top: 50%;
        height: 45vh;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        margin-top: 7vh;
    }

    section .avatar {
        margin-left: 7%;
        height: 65vh;
    }

    section .description {
        font-size: 18px;
        width: 90vw;
        height: 35vh;
    }
}